body{
    background-color: black;
    color: aliceblue;
}
form{
    background-color: brown;
    color: darkgoldenrod;
}
input{
    background-color: black;
    color:darkgoldenrod;
    border-radius: 20px;
}